.logo {
    margin-top: 40%;
}

.logo img{
    margin: auto;
}

.login {
    margin-top: 20%;
}

.login img {
    margin: auto;
    width: 70%;
}

.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.botao {
    margin: 20px 0;
    background-color: #d33724;
    border-radius: 0;
    border-width: 1px;
    color: white;
    height: 70px;
    font-size: 40px;
}

.label-input {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #d33724;
}

.menu {
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #d33724;
    width: 110%;
}