<!-- MENU -->
<menu-app title="Home"></menu-app>

<div class="container login -align-center">
    <div class="row-fluid user-row">
        <img ng-src="images/logo.png" class="img-responsive" alt="Conxole Admin"/>
    </div>
    <div class="panel-body">

        <input class="btn btn-lg btn-block botao" type="submit" value="Criar votação »" ng-click="criarVotacaoCtrl();">
        <input class="btn btn-lg btn-block botao" type="submit" value="Histórico »" ng-click="historico();">
        <input class="btn btn-lg btn-block botao" type="submit" value="Votar »">
    </div>
</div>